PORT=5000
MONGO_URI=mongodb+srv://kumarshekharyadav9931_db_user:<db_password>@cluster0.ayn5qeh.mongodb.net/?appName=Cluster0

# Cloud MongoDB example:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/registration_db?retryWrites=true&w=majority
